.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;

    transition: all 0.2s;
    &:hover {
      transform: scale(1.05);
      outline: 1rem solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

// .composition__photo--p1 {
//   left: 0 !important ;
//   top: -2rem !important;
// }

// .composition__photo--p2 {
//   right: 0 !important;
//   top: 2rem !important;
// }

// .composition__photo--p3 {
//   left: 20% !important;
//   top: 10rem !important;
// }
